# dependencies
node_modules/
.pnpm-store/

# env — keep only examples
.env
.env.*
!.env.example

# builds
.next/
dist/
build/
out/

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
coverage/
*.tsbuildinfo
